lab2/flows.json
[{"id":"3ad2bcbf.0488a4","type":"subflow","name":"Remote GPU","info":"","category":"","in":[{"x":120,"y":200,"wires":[{"id":"a1ecf91e.e67cf8"}]}],"out":[{"x":2040,"y":200,"wires":[{"id":"cb7ac825.f895b8","port":0}]}],"env":[]},{"id":"a1ecf91e.e67cf8","type":"function","z":"3ad2bcbf.0488a4","name":"POST ","func":"msg.headers = {};\nmsg.headers[\"content-type\"] = \"multipart/form-data\"\nlet databuffer = msg.payload;\n//part1\n//msg.payload = {\"file\": {\"value\": databuffer,\"options\": {\"filename\": \"0.jpg\"}},\"device_type\": \"tx2\",\"task_type\": \"skynet\"};\n//part2--v100\nmsg.payload = {\"file\": {\"value\": databuffer,\"options\": {\"filename\": \"0.jpg\"}},\"device_type\": \"v100\",\"task_type\": \"cuda\"};\n//part2--tx2\n//msg.payload = {\"file\": {\"value\": databuffer,\"options\": {\"filename\": \"0.jpg\"}},\"device_type\": \"tx2\",\"task_type\": \"cuda\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["88adbc8a.3dafe"]]},{"id":"88adbc8a.3dafe","type":"http request","z":"3ad2bcbf.0488a4","name":"POST Request","method":"POST","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","proxy":"","authType":"bearer","x":360,"y":200,"wires":[["c7ecf9dd.936498"]]},{"id":"c7ecf9dd.936498","type":"function","z":"3ad2bcbf.0488a4","name":"GET","func":"if (msg.payload != 'RUNNING'){\n    taskID = msg.payload;\n}\nmsg.headers = {};\nmsg.headers[\"taskID\"] = taskID;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["4008a97.7fd0158"]]},{"id":"4008a97.7fd0158","type":"http request","z":"3ad2bcbf.0488a4","name":"GET Request","method":"GET","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","proxy":"","authType":"bearer","x":660,"y":200,"wires":[["eaba3fd4.90813"]]},{"id":"e3326c41.d9cb8","type":"catch","z":"3ad2bcbf.0488a4","name":"","scope":null,"uncaught":false,"x":220,"y":440,"wires":[["184893ff.dbc47c"]]},{"id":"184893ff.dbc47c","type":"debug","z":"3ad2bcbf.0488a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":440,"wires":[]},{"id":"7f72e908.916328","type":"debug","z":"3ad2bcbf.0488a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":380,"wires":[]},{"id":"c8ac700.de5a69","type":"debug","z":"3ad2bcbf.0488a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":80,"wires":[]},{"id":"eaba3fd4.90813","type":"switch","z":"3ad2bcbf.0488a4","name":"Status Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"RUNNING","vt":"str"},{"t":"eq","v":"UNKNOWN","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":830,"y":200,"wires":[["a0a0208d.80b4e"],["c8ac700.de5a69"],["7f72e908.916328","6dbf164f.dc9948"]]},{"id":"a0a0208d.80b4e","type":"delay","z":"3ad2bcbf.0488a4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":80,"wires":[["c7ecf9dd.936498"]]},{"id":"6dbf164f.dc9948","type":"function","z":"3ad2bcbf.0488a4","name":"GET","func":"msg.method = \"GET\";\nmsg.url = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":200,"wires":[["c9ee183.f6c4be8"]]},{"id":"c9ee183.f6c4be8","type":"http request","z":"3ad2bcbf.0488a4","name":"","method":"use","ret":"bin","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1190,"y":220,"wires":[["4fb2c054.db452","c7af1405.9f9e28"]]},{"id":"4fb2c054.db452","type":"debug","z":"3ad2bcbf.0488a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":320,"wires":[]},{"id":"d626d72e.32b308","type":"exec","z":"3ad2bcbf.0488a4","command":"tar -xvf build","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1570,"y":220,"wires":[["cb7ac825.f895b8"],[],[]]},{"id":"cb7ac825.f895b8","type":"exec","z":"3ad2bcbf.0488a4","command":"mv build/result.jpg /home/pi/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1820,"y":220,"wires":[[],[],[]]},{"id":"c7af1405.9f9e28","type":"file","z":"3ad2bcbf.0488a4","name":"","filename":"build","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1390,"y":220,"wires":[["d626d72e.32b308"]]}]