lab2/flows.json
[{"id":"9637b26f.fd969","type":"subflow","name":"Remote GPU","info":"","category":"","in":[{"x":120,"y":200,"wires":[{"id":"44a52490.fa3ffc"}]}],"out":[{"x":1820,"y":220,"wires":[{"id":"e9f52d17.006bb","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"44a52490.fa3ffc","type":"function","z":"9637b26f.fd969","name":"POST ","func":"msg.headers = {};\nmsg.headers[\"content-type\"] = \"multipart/form-data\"\nlet databuffer = msg.payload;\nmsg.payload = {\"file\": {\"value\": databuffer,\"options\": {\"filename\": \"0.jpg\"}},\"device_type\": \"tx2\",\"task_type\": \"skynet\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["67b15b19.4f97d4"]]},{"id":"67b15b19.4f97d4","type":"http request","z":"9637b26f.fd969","name":"POST Request","method":"POST","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","persist":false,"proxy":"","authType":"bearer","x":360,"y":200,"wires":[["f0ae15a7.844958","70f3120e.884a4c"]]},{"id":"f0ae15a7.844958","type":"function","z":"9637b26f.fd969","name":"GET","func":"if (msg.payload != 'RUNNING' && msg.payload != 'SUBMITTED'){\n    taskID = msg.payload;\n}\nmsg.headers = {};\nmsg.headers[\"taskID\"] = taskID;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["57c41b82.5e78f4"]]},{"id":"57c41b82.5e78f4","type":"http request","z":"9637b26f.fd969","name":"GET Request","method":"GET","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","persist":false,"proxy":"","authType":"bearer","x":660,"y":200,"wires":[["b16ea59e.bc0158","31abb102.48df1e"]]},{"id":"87231a41.0b6c68","type":"catch","z":"9637b26f.fd969","name":"","scope":null,"uncaught":false,"x":220,"y":440,"wires":[["73fc3746.c2c168"]]},{"id":"73fc3746.c2c168","type":"debug","z":"9637b26f.fd969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":440,"wires":[]},{"id":"b16ea59e.bc0158","type":"debug","z":"9637b26f.fd969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":340,"wires":[]},{"id":"78097a.6556a688","type":"debug","z":"9637b26f.fd969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":80,"wires":[]},{"id":"31abb102.48df1e","type":"switch","z":"9637b26f.fd969","name":"Status Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"RUNNING","vt":"str"},{"t":"eq","v":"UNKNOWN","vt":"str"},{"t":"eq","v":"SUBMITTED","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":200,"wires":[["c34853e5.749ea"],["78097a.6556a688"],["c34853e5.749ea"],["be8ece99.1c1ba"]]},{"id":"c34853e5.749ea","type":"delay","z":"9637b26f.fd969","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":80,"wires":[["f0ae15a7.844958"]]},{"id":"be8ece99.1c1ba","type":"function","z":"9637b26f.fd969","name":"GET","func":"msg.url = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":220,"wires":[["4dad7061.89fa3"]]},{"id":"4dad7061.89fa3","type":"http request","z":"9637b26f.fd969","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1180,"y":220,"wires":[["6ef1b13c.35fad","527214f7.240f8c"]]},{"id":"6ef1b13c.35fad","type":"debug","z":"9637b26f.fd969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":340,"wires":[]},{"id":"5b2bf8f1.932438","type":"exec","z":"9637b26f.fd969","command":"tar -xvf ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1550,"y":220,"wires":[[],["e9f52d17.006bb"],[]]},{"id":"527214f7.240f8c","type":"file","z":"9637b26f.fd969","name":"File Saved","filename":"build","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1370,"y":220,"wires":[["5b2bf8f1.932438"]]},{"id":"e9f52d17.006bb","type":"exec","z":"9637b26f.fd969","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1690,"y":220,"wires":[[],[],[]]},{"id":"70f3120e.884a4c","type":"debug","z":"9637b26f.fd969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":340,"wires":[]}]